body {
  font-family: 'Arial, sans-serif';
  background-color: #1b1b1b;
  color: white;
}

/* Feature Highlight Section */
.feature-highlight {
  background-color: #1b1b1b;
  color: white;
  text-align: left;
  position: relative;
  height: 100vh;
}

.feature-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

/* Stats Section */
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 50px 0 0 50px;
}

.stat {
  font-size: 2rem;
  font-weight: bold;
}

.stat-number {
  font-size: 3rem;
  color: #007bff;
}

/* Counting Animation */
@keyframes count {
  from {
    counter-reset: number 0;
  }
  to {
    counter-reset: number var(--number);
  }
}

/* Testimonials Section */
.testimonials-section {
  background: #1b1b1b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonial-card {
  width: 342px;
  height: 350px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-message {
  display: block;
  height: 60px;
  font-size: 16px;
  color: #000000;
}

/* Carousel Indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #007bff;
}

.indicator:hover {
  background-color: #0056b3;
}

/* Partners Section */
.partners-heading {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.partners-section {
  background: white;
  display: flex;
  width: 100%;
}

.logos {
  display: flex;
  width: calc(150% + 50px);
  animation: scroll 20s linear infinite;
}

.logo-container {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-heading {display: block;
  width: 100%; /* Make it span the width of its parent container */
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0; /* Add a vertical margin to create separation */
  color: rgb(0, 0, 0); /* Use consistent color with the theme */
}

.logo {
  max-width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
