/* Common Styles */
body {
  font-family: 'Arial, sans-serif';
  background-color: #1b1b1b; /* Dark background */
  color: white; /* White text */
}

/* Feature Highlight Section */
.feature-highlight {
  background-color: #1b1b1b; /* Dark background */
  color: white; /* Text color */
  padding: 0;
  text-align: left; /* Align text to the left */
  position: relative;
  height: 100vh;
}

.feature-container1 {
  margin: 0px 150px 0px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Space between elements */
  padding: 150px;
  align-items: center;
}

/* Stats Section */
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 50px; /* Gap between stats */
  margin: 50px 0 0 50px; /* Margin for stats section */
}

.stat {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.stat-number {
  font-size: 3rem; /* Larger font size for the number */
  color: #007bff; /* Accent color for the numbers */
}

/* Counting animation */
@keyframes count {
  from {
    counter-reset: number 0;
  }
  to {
    counter-reset: number var(--number);
  }
}

/* Testimonials Section */
.testimonials-section {
  background: #1b1b1b; /* Dark background */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* Align to the right of the parent container */
  position: relative;
  flex-direction: column;
}

.testimonial-card {
  width: 342px;
  height: 350px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 0;
  text-align: center;
}

.testimonial-image {
  position: relative;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-message {
  position: relative;
  top: 0;
  margin-bottom: 0;
  display: block;
  height: 60px;
  font-size: 16px;
  color: #000000;
}

/* Carousel Indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #007bff;
}

.indicator:hover {
  background-color: #0056b3;
}


.feature-highlight h1{
  margin: 0% 47% 0% 46%;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.partners-section {
  overflow: hidden;
  background: white;
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
}

.logos {
  display: flex;
  width: calc(150% + 50px);
  animation: scroll 20s linear infinite;
}

.logo-container {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.logo-container img{
  max-width: 400px;
  width: 40%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .feature-container1 {
    flex-direction: column;
    padding: 50px;
    margin: 0px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Smaller gap */
    margin: 20px 0; /* Smaller margin */
  }

  .testimonial-card {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .testimonial-image {
    width: 80px;
    height: 80px;
  }


  .feature-highlight h1{
    margin: 0% 35% 0% 36%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }  

  .testimonial-message {
    font-size: 14px;
  }

  .carousel-indicators {
    margin-top: 2rem;
  }

  .partners-heading {
    font-size: 1.5rem;
  }
  
  .logo-container img {
    width: 70%;
  }

  .logo-container {
    flex: 0 0 33.33%;
  }
}